<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js" charset="utf-8"></script>
		<script src="http://livejs.com/live.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" href="app.css">
	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>
<h1> Editing</h1> 
 <form method="post" action = "/update/{{todo._id}}"> 
  <input type="text" name = "updated_task"> 
  <input type = "submit"> 
 </form>
	</body>
	<!--______________________________________________________END APP-->
</html>